<style>
        p { text-align: justify; 
            font-family: calibri;
        }
        h1 { background-color: #33ff89; }
        h3 { background-color: #ba6a6a; }

        #state { 
            border: black dashed;
            padding: 5px;
            margin: 10px; 
            height: 220px;
            width: 350px;
            background-color: #ba6a6a;
            color: #33ff89;
            float: right; 
        }
         #PrescottinUT { 
            border: black dashed;
            padding: 5px;
            margin: 10px; 
            height: 220px;
            width: 350px;
            background-color: #ba6a6a;
            color: #33ff89;
            float: right; 
        }
        
        #state-img {
            width: 100%;
            height: 85%;
        }

        #PrescottinUT-img {
            width: 100%;
            height: 85%;
        }
        th,td {
            background-color: #dd5702;
            padding: 3px;
        }
        .data {
            color: #888888;
            font-family: Times New Roman;
        }
    </style>
